doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
        
    body 
        h2 Bienvenido a UpTask!
        p Hola, bienvenido a UpTask haz click en el siguiente botón para confirmar tu cuenta y finalizar el registro
        a(href=`${confirmarUrl}`) Confirmar cuenta
        p Si no puedes acceder a este enlace, visita #{confirmarUrl}
        p Si no solicitaste unirte a Uptask, solo ignora este e-mail.